.inline-block {
    display: inline-block;
    vertical-align: top;
    font-family: "inter";
    font-size: 30px
  }
    
  .nav li {
    display: inline-block;
    font-size: 25px;
    padding: 25px;
    text-align: center-top;
    vertical-align: top;
    
  }
  h1 {
    text-align: center;
    color: black;
    font-family: "inter";
    font-size: 40px
  }
  
  h2 {
    text-align: center;
    color: black;
  }
  
  p {
    text-align: center;
    color: rgb(78, 148, 56);
  }
  button {
  
  text-align: center;
    color: black;
  }
  


  /* .mySkills  */
.flexContainer {
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: auto;
    flex-wrap: 33%; 
    background-color: #eee;
    /* My UX skills section coding using CSS */
  }

  .flexChild1 {
    max-width:50%;
}

  /* .workGrid */
  .grid-container {
    display: grid;
    grid-template-rows: 25% 25% 25%;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .grid-container {
    display: grid;
    
  }
  @media screen and (max-width: 600px) 
    body {
      background-color: lightblue;
    }
    div {
      display: flex;
      flex-direction: column;
    }
    
    /* .flexContainer {} */
    .workGrid {

    }
        footer {
            background-color:#7f0028;
            height:50px;
          }
          footer a {
            padding-top:14px;
            padding-right:30px;
            font-size:16px;
            display:inline-block;
            font-family:'Inter', 'Tahoma', 'Arial', sans-serif;
            text-decoration:none;
            color: #FFFFEE;
          }
   
    .grid-container {
      display: grid;
      grid-template-areas: "myArea myArea . . .";
    }
    .grid-container {
      display: grid;
      grid-template-rows: 100px 300px;
    }
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
    }
  

  