.inline-block {
    display: inline-block;
    vertical-align: top;
    font-family: "inter";
    font-size: 30px
  }
    
  .nav li {
    display: inline-block;
    font-size: 25px;
    padding: 25px;
    text-align: center-top;
    vertical-align: top;
    
  }
  h1 {
    text-align: center;
    color: black;
    font-family: "inter";
    font-size: 40px
  }
  
  h2 {
    text-align: center;
    color: black;
  }
  
  p {
    text-align: center;
    color: rgb(78, 148, 56);
  }
  button {
  
  text-align: center;
    color: black;
  }
  
